---
---

@import "abstracts";
@import "homeheader";
@import "homecloud";
@import "photo";
@import "video";
@import "casestudy";
@import "blog";

body{
    margin: 0;
    font-size: 20px;
    font-family: 'DM Sans';
    overflow-x: hidden;
}

a{
    color: unset;
    text-decoration: none;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 32px;
}

.yt-container{
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  background-color: #222;
}

.yt-container iframe{
  position: absolute;
  width: 100%;
  height: 100%;
}

.divider{
    width: 56px;
    height: 4px;
    background-color: #000;
    margin: 48px 0;

    &.small{
        width: 24px;
    }
}

@media (max-width: 1000px){
    .container{
        padding: 0 24px;
    }
}

p, ul{
    max-width: 700px;
    line-height: 1.5;
    box-sizing: border-box;
}

.home-hero-section{
    margin-bottom: 64px;
}

@media(min-width: 1200px){
    .about-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 64px;
    }
}

.about-container{

    p{
        margin: 24px 36px 24px 0;

        &.home-hero{
            margin-top: -4px;
            @include hero-text;

            @media(max-width: 600px){
                margin-bottom: 64px;
            }
        }
 
        @include bold-serif;
    }

    img{
        width: 100%;
        display: block;
        user-select: none;
    }

    h1{
        font-family: 'DM Serif Text';
        font-size: 56px; 
    }
}

p.home-links{
    user-select: none;

    a{
        margin-right: 20px;
        @include uppercase-style;
        color: rgba(0,0,0,0.3);

        &:hover{
            color: rgba(0,0,0,0.8);
        }
    }
}

.portfolio-container > p:first-of-type{
    @include hero-text;
    @include bold-serif;
    a{
        font-weight: 700;
        border-bottom: 4px solid #000;

        &:hover{
            color: rgba(0,0,0,0.3);
            border-color: rgba(0,0,0,0.3);
        }
    }
}

.portfolio-container > p{
    @include bold-serif;
    margin-top: 48px;
    
    i.fas{
        margin-right: 6px;
    }
}

.backhome{
    font-size: 20px;
    font-weight: 700;

    i{
        font-size: 16px;
        margin-right: 4px;
    }

    &:hover{
        color: #000;
    }
}

$selectorheight: 180px;
$selectorpadding: 20px;

.image-slider{
    position: relative;
    max-width: 1000px;

    .image-slides{
        position: relative;
    }

    img, video{
        @include max-100-wh;
        display: block;
    }

    .image-slide{
        position: absolute;
        width: 100%;
        height: 100%;
        transition: opacity 0.15s ease;

        img{
            @include center-both;
        }

        &:not(.selected){
            opacity: 0;
        }

        &.prerender{
            position: relative;
            max-height: unset;

            img{
                width: 100%;
                max-height: calc(100vh - #{$selectorheight + 128px})
            }
        }
    }

    .slider-selector-outer{
        overflow-x: auto;
    }

    .slider-selector{
        height: $selectorheight;
        box-sizing: border-box;
        padding-top: $selectorpadding;
        position: relative;
        display: flex;
        flex-flow: row nowrap;

        div.image-slide-small{
            height: 100%;
            flex: auto 0 0;
            transition: all 0.15s ease;

            img, video{
                height: 100%;
            }

            &:not(.selected){
                cursor: pointer;
            }

            &.selected{
                opacity: 0.4;
            }

            &:not(:last-of-type){
                margin-right: $selectorpadding;
            }
        }
    }
    
    // FOLLOWING CODE TAKEN STRAIGHT FROM PORTFOLIO SLIDER

    $buttonmargin: 12px;
    $buttonsize: 16px;
    $buttonthick: 6px;

    .slider-next, .slider-prev{
        position: absolute;
        top: calc(50% - #{$selectorheight / 2});
        transform: translateY(-50%);
        width: $buttonsize * 0.7 + 2 * $buttonmargin;
        height: 72px;
        background-color: rgba(0,0,0,0.3);
        cursor: pointer;
        opacity: 0.6;
        transition: opacity 0.15s ease;

        &:before{
            content: '';
            position: absolute;
            width: $buttonsize;
            height: $buttonsize;
            position: absolute;
            top: 50%;
            border-style: solid;
            border-color: #fff;
            border-width: 0 0 $buttonthick $buttonthick;
        }

        &:hover{
            opacity: 1.0;
        }
    }

    .slider-next{
        right: 0;

        &:before{
            transform: translateY(-50%) rotate(225deg);
            right: $buttonmargin;
        }
    }
    

    .slider-prev{
        left: 0;

        &:before{
            transform: translateY(-50%) rotate(45deg);
            left: $buttonmargin;
        }
    }
}