---
---

@import url("homeheader.css");
@import url("homecloud.css");
@import url("photo.css");

$gutter: 48px;

body{
    margin: 0;
    font-size: 20px;
    font-family: 'DM Sans';
    overflow-x: hidden;
}

a{
    color: unset;
    text-decoration: none;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 32px;
}

.video-container{
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  background-color: #222;
}

.video-container iframe{
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px){
    .container{
        padding: 0 24px;
    }
}

p, ul{
    max-width: 700px;
    line-height: 1.5;
    box-sizing: border-box;
}

.home-hero-section{
    margin-bottom: 64px;
}

@media(min-width: 1200px){
    .about-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 64px;
    }
}

@mixin hero-text{
    font-size: 42px;
    line-height: 1.4;

    @media (max-width: 600px){
        font-size: 32px;
    }
}

@mixin bold-serif{
    b, strong{
        font-family: 'DM Serif Text';
    }
}

.about-container{

    .divider{
        width: 56px;
        height: 4px;
        background-color: #000;
        margin: 48px 0;

        &.small{
            width: 24px;
        }
    }

    p{
        margin: 24px 36px 24px 0;

        &.home-hero{
            margin-top: -4px;
            @include hero-text;

            @media(max-width: 600px){
                margin-bottom: 64px;
            }
        }
 
        @include bold-serif;
    }

    img{
        width: 100%;
        display: block;
        user-select: none;
    }

    h1{
        font-family: 'DM Serif Text';
        font-size: 56px; 
    }
}

p.home-links{
    user-select: none;

    a{
        margin-right: 20px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
        color: rgba(0,0,0,0.3);

        &:hover{
            color: rgba(0,0,0,0.8);
        }
    }
}

.portfolio-container{
    p:first-of-type{
        @include hero-text;
        @include bold-serif;
    }
}