---
---

@import url("homeheader.css");

$gutter: 48px;

body{
    margin: 0;
    font-size: 20px;
    font-family: 'DM Sans';
    overflow-x: hidden;
}

a{
    color: unset;
    text-decoration: none;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 32px;
}

.photo-container{
    margin-top: 64px;
}

.photo-gutter{
    width: $gutter;
    height: 0;
}

.photo{
    width: calc(33.33% - #{$gutter * 2 / 3});
    margin-bottom: $gutter * 3 / 2;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    cursor: pointer;
    img{
        width: 100%;
        display: block;
    }
    &:hover{
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        transform: scale(1.01);
    }
}

@media(max-width: 1400px){
    .photo{
        width: calc(50% - #{$gutter / 2})
    }
}

@media (max-width: 1000px){
    .container{
        padding: 0 24px;
    }
}

@media(max-width: 640px){
    .photo{
        width: 100%;
        margin-bottom: 16px;
    }
}

.lightbox{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    cursor: pointer;

    img{
        width: unset;
        max-width: 90%;
        max-height: 90%;
        margin-left: 50%;
        margin-top: 50vh;
        transform: translate(-50%,-50%);
    }

    &.active{
        display: block;
    }
}

p{
    max-width: 700px;
    line-height: 1.5;
}

@media(min-width: 1200px){
    .about-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 36px;
    }
}

.about-container{

    .divider{
        width: 48px;
        height: 4px;
        background-color: #000;
        margin: 48px 0;
    }

    p{
        margin: 24px 36px 24px 0;

        &.home-hero{
            margin-top: -4px;
            font-size: 36px;
            line-height: 1.4;
        }
    }

    img{
        width: 100%;
        display: block;
    }
    
    svg{
        height: 600px;
        width: 100%;

        circle{
            display: none;
        }

        .thing-label{
            font-weight: 700;
            font-size: 80px;
            opacity: 0.5;
            cursor: pointer;
            font-family: 'DM Serif Text';
            transition: all 0.2s ease;

            &.thing-skill{
                fill: #0026FF;
            }

            &.selected{
                font-size: 84px;
            }

            &:hover, &.selected{
                opacity: 1.0;
            }

            &:hover{
                transform: translate(4px,4px);
            }
        }
    }
}

@media (min-width: 1200px){
    .about-container svg{
        position: relative;
        left: -400px;
        width: calc(100% + 400px);
    }
}

.thing-text{
    b{
        font-family: 'DM Serif Text';
    }

    i.fas{
        margin-right: 5px;
        margin-left: 7px;

        &:first-of-type{
            margin-left: 0;
        }
    }
}

@media (min-width: 768px){
    .thing-text{
        padding: 32px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
}

@media (max-width: 600px){
    .about-container svg{
        height: 400px;

        .thing-label{
            font-size: 36px;

            &.selected{
                font-size: 42px;
            }
        }
    }
}

p.home-links{
    a{
        margin-right: 20px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
        color: rgba(0,0,0,0.3);

        &:hover{
            color: rgba(0,0,0,0.8);
        }
    }
}

