<p class='home-links'>
    <a target="_blank" href='{{ site.baseurl }}/assets/szhang-resume.pdf'>Resume</a>
    <a target="_blank" href='mailto:samsonzhang@wwsalmon.com'>Say Hi</a><a target="_blank" href='https://twitter.com/wwsalmon'><i class="fab fa-twitter"></i></a>
    <a target="_blank" href='https://www.linkedin.com/in/samsonzhangthesalmon/'><i class="fab fa-linkedin-in"></i></a>
    <a target="_blank" href='https://github.com/wwsalmon'><i class="fab fa-github"></i></a><a target="_blank" href='https://www.youtube.com/channel/UCNyoJQcV6NCHiRCeqcCxJag'><i class="fab fa-youtube"></i></a>
</p>