<div class='home-header'>
    <div class='container'>
        <div class='name'><a href='{{ site.baseurl }}/'><span>Samson<br />Zhang</span></a></div>
        <div class='name name-small'><a href='{{ site.baseurl }}/'><span>s.zhang</span></a></div>
        <div class='nav-item menu-button'><span><i class="fas fa-bars"></i>
    Menu</span></div>
        <div class='nav'>
            <div class='nav-item close-menu'><i class="fas fa-times"></i></div>
            <a href='{{ site.baseurl }}/' class='nav-item'>Home/About</a>
            <a href='{{ site.baseurl }}/film' class='nav-item'>Filmmaking</a>
            <a href='{{ site.baseurl }}/photo' class='nav-item'>Photography</a>
            <a href='{{ site.baseurl }}/projects' class='nav-item'>Design & Building</a>
        </div>
    </div>
</div>
<script>
$(".menu-button").on('click',function(){
    console.log("hi");
    $('.nav').addClass("active");
});
$(".close-menu").on('click',function(){
    $('.nav').removeClass("active");
});

$(window).scroll(function () {
    if ($(window).scrollTop() > 64){
        $('.home-header').addClass("sticky");
    }
    else{
        $('.home-header').removeClass("sticky");
    }
});
</script>

<div class='home-header-spacer'></div>