<div class='image-slider'>
    {% assign count = 0 %}
    <div class='image-slides'>
        {% for item in include.data %}
        <div class='image-slide'>
            {% assign count = count | plus: 1 %}
            {% assign temp = item | split: '.' %}
            {% if temp.last == 'mp4' %}
            <video autoplay loop muted>
                <source src='{{ site.baseurl }}/img/{{ page.collection }}/{{ page.id }}/{{ item }}' type='video/mp4'>
            </video>
            {% else %}
            <img src='{{ site.baseurl }}/img/{{ page.collection }}/{{ page.id }}/{{ item }}'>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class='slider-next'></div>
    <div class='slider-prev'></div>
    <div class='slider-selector'>
        {% assign count = 0 %}
        {% for item in include.data %}
        <div class='image-slide-small{% if count == 0 %} selected {% endif %}'>
            {% assign count = count | plus: 1 %}
            {% assign temp = item | split: '.' %}
            {% if temp.last == 'mp4' %}
            <video autoplay loop muted>
                <source src='{{ site.baseurl }}/img/{{ page.collection }}/{{ page.id }}/{{ item }}' type='video/mp4'>
            </video>
            {% else %}
            <img src='{{ site.baseurl }}/img/{{ page.collection }}/{{ page.id }}/{{ item }}'>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<script>
firstimage = $(".image-slider div.image-slide:first-of-type");
firstimage.addClass('prerender');
firstimage.imagesLoaded().progress(function(){
    height = firstimage.children().height();
    $(".image-slides").css('height',height);
    firstimage.removeClass('prerender').addClass('selected');
});
</script>