{% assign cat = "projects" %}
{% assign projects = (include.data | sort: "date") | reverse %}

<div class="mt-6">
    {% for project in projects %}
    {% if project.permalink == page.id %}
    {% else %}
    <hr class="opacity-40" />
    <div class="flex flex-vert-lt-900 video-container mt-3-important">
        <div class="pr-6 width-500">
            <h1 class="mt-0" class="font-big-responsive"><a href="{{ site.baseurl }}/{{ project.permalink }}">{{ project.name }}</a></h1>
            <p class="opacity-20">{{ project.date | date: "%B %Y" }}</p>
            <p>{{ project.descript }}</p>
            <div class="flex">
                {% assign tags = project.tags %}
                {% for tag in tags %}
                <div class="bg-gray-1 p-2 mr-2">{{ tag }}</div>
                {% endfor %}
            </div>
        </div>
        <div class='video-item ml-auto mt-3-lt-900'>
            <div class='video-slider'>
                <div class='slider-inner'>
                    {% assign count = 0 %}
                    {% for item in project.images %}
        
                    <div class='slider-item {% if count == 0 %} selected {% endif %}'>
                        {% assign count = count | plus: 1 %}
                        {% assign temp = item | split: '.' %}
                        {% if temp.last == 'mp4' %}
                        <video autoplay loop muted>
                            <source src='{{ site.baseurl }}/img/{{ cat }}/{{ project.permalink }}/{{ item }}' type='video/mp4'>
                        </video>
                        {% else %}
                        <img src='{{ site.baseurl }}/img/{{ cat }}/{{ project.permalink }}/{{ item }}'>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <div class='slider-info'>
                    <div class='slider-num'>
                        <span class='slider-index'>1</span>
                        <span> / </span>
                        <span class='slider-total'>{{ count }}</span>
                    </div>
                    <a class='more' href='{{ site.baseurl }}/{{ project.permalink }}'>
                        <i class="fas fa-plus-circle"></i> Full Story
                    </a>
                </div>
                {% if count != 1 %}
                <div class='slider-next'></div>
                <div class='slider-prev'></div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<script>
    $('.video-slider .slider-next').on('click', function () {
        changeVidSlide($(this).parent(), true);
    })

    $('.video-slider .slider-prev').on('click', function () {
        changeVidSlide($(this).parent(), false);
    })

    function changeVidSlide(thisSlider, forward) {
        selected = thisSlider.find('.selected');
        selected.removeClass('selected');
        indexEl = thisSlider.find('.slider-index');
        index = indexEl.text();
        if (forward) {
            toSlide = selected.next();
            if (toSlide.length == 0) {
                toSlide = thisSlider.find('.slider-item').first();
                num = 1;
            }
            else {
                num = Number(index) + 1;
            }
        }
        else {
            toSlide = selected.prev();
            if (toSlide.length == 0) {
                toSlide = thisSlider.find('.slider-item').last();
                num = thisSlider.find('.slider-item').length;
            }
            else {
                num = Number(index) - 1;
            }
        }
        loadingVid = toSlide.find('video');
        if (loadingVid.length != 0) {
            console.log(loadingVid);
            loadingVid.get(0).currentTime = 0;
        }
        toSlide.addClass('selected');
        indexEl.text(num);
    }
</script>