<div class='video-container'>
    <div class='video-gutter'></div>
    {% for project in site.video %}
    <div class='video-item'>
        <div class='video-slider'>
            <div class='thumb'><img src='{{ site.baseurl }}/img/video/{{ project.id }}/thumb.jpg'></div>
            <div class='slider-inner'>
                {% assign count = 0 %}
                {% for item in project.images %}
                
                <div class='slider-item {% if count == 0 %} selected {% assign count = 1 %}{% endif %}'>
                    {% assign temp = item | split: '.' %}
                    {% if temp.last == 'mp4' %}
                    <video autoplay loop>
                        <source src='{{ site.baseurl }}/img/video/{{ project.id }}/{{ item }}' type='video/mp4'>
                    </video>
                    {% else %}
                    <img src='{{ site.baseurl }}/img/video/{{ project.id }}/{{ item }}'>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class='slider-next'></div>
            <div class='slider-prev'></div>
        </div>
        <div class='video-info'>
            <p><b>{{ project.name }}: </b>{{ project.content }}</p>
            {% if project.images %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<script>
    $('.video-container').masonry({
        itemSelector: '.video-item',
        columnWidth: '.video-item',
        gutter: '.video-gutter',
        transitionDuration: 0
    });

    $('.slider-next').on('click',function(){
        thisSlider = $(this).parent();
        selected = thisSlider.find('.selected');
        selected.removeClass('selected');
        if (selected.next().length != 0) {
            selected.next().addClass('selected');
        }
        else {
            thisSlider.find('.slider-item').first().addClass('selected');
        }
    })

    $('.slider-prev').on('click',function(){
        thisSlider = $(this).parent();
        selected = thisSlider.find('.selected');
        selected.removeClass('selected');
        console.log(selected);
        if (selected.prev().length != 0) {
            selected.prev().addClass('selected');
        }
        else {
            thisSlider.find('.slider-item').last().addClass('selected');
        }
    })

    
</script>