<div class='photo-container'>
    <div class='photo-gutter'></div>
    {% for photo in include.data %}
    {% assign name = photo.name | split: "." %}
    <div class='photo'>
        {% include video-or-image.html data=photo.name folder=include.folder %}
    </div>
    <div class='lightbox' id='{{ name[0] }}-lightbox'>
        <div class='lightbox-close'><i class="fas fa-times"></i></div>
        {% include video-or-image.html data=photo.name folder=include.folder %}
        <div class='caption'>
            <div class='controls container'>
                <div>
                    <div class='close'>Hide Caption <i class="fas fa-chevron-down"></i></div>
                    <div class='open hidden'>Show Caption <i class="fas fa-chevron-up"></i></div>
                </div>
            </div>
            <div class='caption-inner'>
                <div class='container'>
                    <p><span class='caption-date'>{{ photo.date }}</span><br/>{{ photo.caption }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>



<script>
    var $grid = $('.photo-container').masonry({
        itemSelector: '.photo',
        columnWidth: '.photo:not(:first-of-type)',
        gutter: '.photo-gutter',
        transitionDuration: 0
    });

    $grid.imagesLoaded().progress(function () {
        $grid.masonry('layout');
    });

    $(".photo .portfolio-item").on('click', function(){
        imageID = $(this).attr('id');
        lightbox = $("#" + imageID + "-lightbox");
        if ($(this).is("video")){
            console.log(lightbox.find("video")[0]);
            lightbox.find("video")[0].currentTime = $(this)[0].currentTime;
        }
        lightbox.addClass("active");
        lightbox.find(".caption").css("bottom",0);
        lightbox.find(".close").removeClass("hidden");
        lightbox.find(".open").addClass("hidden");
    })

    $(".lightbox-close").on('click', function(){
        $(this).parent().removeClass("active");
    })

    $(".lightbox").on('click', function(){
        $(this).removeClass("active");
    })
    .children().click(function(e){
        return false;
    });

    $(".caption .close, .caption .open").on("click",function(){
        $(this).addClass("hidden");
        $(this).siblings().removeClass("hidden");
        captionInner = $(this).parents().eq(1).siblings();
        if ($(this).hasClass("close")){
            captionInnerHeight = captionInner.height();
            captionInner.parent().css("bottom",-captionInnerHeight);
        }
        else{
            captionInner.parent().css("bottom",0);
        }
    });
</script>