{% assign yesimage = false %}
{% assign images = post.content | split:"<img " %}
{% for image in images %}
    {% if image contains 'src' %}
        {% assign yesimage = true %}
        {% assign html = image | split:"/>" | first %}
        {% if html contains 'yt-container' %}
        {{ html }}
        {% else %}
        {% assign tags = html | split:" " %}
        {% for tag in tags %}
        {% if tag contains 'src' %}
            <img {{ tag }} >
        {% endif %}
        {% endfor %}
        {% endif %}
    {% endif %}
    {% if yesimage %}
        {% break %}
    {% endif %}
{% endfor %}