$gutter: 48px;
$videogutter: 32px;

@mixin uppercase-style{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 16px;
}

@mixin hero-text{
    font-size: 42px;
    line-height: 1.4;

    @media (max-width: 600px){
        font-size: 32px;
    }
}

@mixin bold-serif{
    b, strong{
        font-family: 'DM Serif Text';
    }
}

@mixin shadow-hover{
    transition: all 0.15s ease;
    box-shadow: 0 1px 3px rgba(141, 102, 102, 0.12), 0 1px 2px rgba(0,0,0,0.24);
    transform: scale(1.00);
    
    &:hover{
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        transform: scale(1.01);
    }
}

@mixin max-100-wh{
    max-width: 100%;
    max-height: 100%;
}

@mixin center-both{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

@mixin hover-light{
    &:hover{
            color: rgba(0,0,0,0.4);
    }
}

@mixin def-light-hover-heavy{
    opacity: 0.4;
    // transition: opacity 0.2s ease;

    &:hover{
        opacity: 1.0;
    }
}