.post{
    margin-top: 64px;

    h3{
        font-size: 42px;
        margin-bottom: 8px;
        a{
            @include hover-light;
        }
    }

    .date{
        @include uppercase-style;
        margin: 0;
    }

    .more{
        @include uppercase-style;
        text-align: right;
        a{
            @include hover-light;
        }
    }
}

.post-container{
    h1, .backhome, .date{
        text-align: center;
    }

    h1{
        font-size: 72px;
        font-family: 'DM Serif Text';
        font-weight: 400;
    }

    .divider{
        margin-left: auto;
        margin-right: auto;
    }

    p, figure{
        font-size: 24px;
        max-width: 900px;
        margin: 36px auto;
    }

    .categories{
        justify-content: center;
    }
}

.categories{
        display: flex;
        flex-flow: row wrap;
        margin: 16px auto;

        .category{
            margin-right: 8px;
            padding: 6px;
            // border-radius: 4px;
            border-bottom: 4px solid rgba(0,0,0,0.1);
            transition: background-color 0.1s ease;

            

            &:hover{
                color: #fff;
                background-color: rgba(0,0,0,0.8);
            }
        }
    }