$blogmargin: 48px;

.posts-container{
    width: 100%;
}

@mixin blog-border{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: $blogmargin;
    margin-bottom: $blogmargin;
}

.blog-rightbar{
    .tag{
        font-size: 16px;
        background-color: #222;
        color: #fff;
        padding: 6px;
        display: inline-block;
        margin-bottom: 4px;
    }
}

.post{
    width: 100%;
    @include blog-border;

    img{
        max-width: 100%;
    }

    .post-date, .category{
        font-size: 16px;
        opacity: 0.4;
    }
    
    .category{
        font-weight: 700;
        // text-transform: uppercase;
    }

    .category:hover{
        opacity: 0.8;
    }

    h3{
        font-size: 20px;
        margin: 0 0 8px 0;
    }
    
    .post-image{
        margin: 24px 0;
        img{
            transition: opacity 0.2s ease;
            opacity: 0.8;

            &:hover{
                opacity: 1.0;
            }
        }
        p{
            font-size: 16px;
            margin: 0;
        }
    }

    .post-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .post-more{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        @include def-light-hover-heavy;
        opacity: 0.2;
    }
}

@media (min-width: 900px){
    .blog-container{
        display: flex;
    }

    .blog-rightbar{
        flex: 0 0 400px;
    }

    .post{
        margin-left: $blogmargin;
        width: calc(100% - #{$blogmargin});
    }
}

@media (min-width: 1200px){
    .post-spacer{
        width: 50%;
    }

    .post{
        width: calc(50% - #{$blogmargin});
    }
}

@media (max-width: 900px){
    .blog-rightbar{
        @include blog-border;
    }
}

.post-container{
    h1, h2, h3, h4, h5, h6, .categories, .date, .backhome, .readingtime{
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    h1, h2, h3{
        margin-top: 48px;
        margin-bottom: 12px;
        + p{
            margin-top: 12px;
            img{
                margin-top: 12px;
            }
        }
    }

    h1 + h2, h2 + h3{
        margin-top: 24px;
    }

    .readingtime{
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        opacity: 0.4;
        margin-top: 32px;
    }

    p img{
        margin: 0;
    }

    p, ul, figure, blockquote, img, .highlight{
        max-width: 700px;
        margin: 24px auto;
        
        a{
            border-bottom: 1px solid #0026FF;
            color: #0026FF;
        }
    }

    pre.highlight{
        padding: 16px;
        color: rgba(0,0,0,0.5);
        font-size: 16px;
        background-color: rgba(0,0,0,0.05);
        overflow-x: auto;
    }

    .yt-container{
        margin: 32px 0;
    }

    img{
        box-shadow: 8px 8px 24px 3px rgba(0,0,0,0.4);

        + em{
            margin-top: 16px;
            font-size: 16px;
            display: block;
            text-align: center;
        }
    }
}

.post-container, .post-categories{
    .category{
        display: inline-block;
        margin-right: 8px;
    }
}

p.blog-hero{
    margin: 0;
    &.tag-hero{
        margin: 32px 0;
    }
    @include hero-text;
    @include bold-serif;
}