.case-container{
    p{
        margin: 36px 0;

        &.descript{
            font-size: 28px;
        }
    }

    h1{
        font-size: 56px;
    }

    h2{
        margin: 64px 0 24px 0;
        font-family: 'DM Serif Display';
        line-height: 1.1;
    }

    &> img, &> video, p img, p video{
        margin: 16px auto;
        width: 100%;
        max-width: 700px;
    }
}

@media (min-width: 1000px){
    .twocol{
        display: grid;
        grid-template-columns: 500px auto;
        grid-column-gap: 36px;
        margin: 96px 0;

        img{
            max-width: 100%;
            margin: 24px 0;
        }

        *:first-of-type{
            margin-top: 0;
        }
    }
}