.case-container{
    p, ul, ol, h3{
        margin: 36px auto;

        &.descript{
            margin: 36px auto 64px auto;
            text-align: center;
            font-size: 28px;
        }

        a{
            color: #0026FF;
        }
    }

    h1, .backhome{
        text-align: center;
    }

    h1{
        font-size: 56px;
    }

     div.divider:not(.left){
        margin-left: auto;
        margin-right: auto;
    }

    h2{
        margin: 64px 0 24px 0;
        font-family: 'DM Serif Display';
        line-height: 1.1;
    }

    &> img, p img, p video{
        margin: 16px auto;
        width: 100%;
        max-width: 700px;
    }

    .highlights{
        img, video{
            margin: 16px auto;
            max-width: 100%;
        }
    }

    img{
        max-width: 100%;
    }
}

$twocol-margin: 42px;

@media (min-width: 1000px){
    .twocol{
        display: flex;
        align-items: center;
        margin: 96px 0;

        &> div:first-of-type{
            flex: 500px 0 0;
            margin-right: $twocol-margin;
        }

        &> div:last-of-type{
            flex: 1;
        }

        &.flip{
            &> div:first-of-type{
                order: 2;
                margin-left: $twocol-margin;
                margin-right: 0;
            }
        }


        img{
            max-width: 100%;
            margin: 24px 0;
        }

        *:first-of-type{
            margin-top: 0;
        }
    }

    .case-container .highlights{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        grid-column-gap: 16px;
    }
}