.case-container{
    h1{
        font-size: 56px;
    }

    h2{
        // margin: 64px 0 24px 0;
        font-family: 'DM Serif Display';
    }

    &> img, &> video{
        margin: 16px auto;
        width: 100%;
        max-width: 700px;
    }
}