.home-header{
    width: 100%;
    padding: 64px 0;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    user-select: none;
}

.home-header-spacer{
    height: 240px;

    @media(max-width: 600px){
        height: 194px;
    }
}

.home-header .container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
    .nav{
        margin-left: auto;
        display: inline-flex;
    }

    .nav-item{
        margin-left: 32px;
        font-weight: 700;
        color: #000;
        cursor: pointer;
        text-decoration: none;
        &:hover{
            opacity: 0.6;
        }
    }

    .menu-button, .close-menu{
        margin-left: auto;
        display: none;
    }

    .menu-button .fas{
        margin-right: 6px;
    }

    &.sticky{
        position: fixed;
        padding: 16px 0;
        width: 100%;
    }
}

@media (max-width: 940px){
    .home-header .container{
        .nav{
            position: fixed;
            z-index: 5;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            top: 0;
            right: -300px;
            transition: all 0.15s ease;
            width: 300px;
            height: 100%;
            background-color: #fff;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            opacity: 0;

            &.active{
                right: 0;
                opacity: 1.0;
            }

            .nav-item{
                margin-bottom: 32px;
                margin-right: 32px;
                margin-left: 0;
                text-align: right;
            }
        }

        .menu-button, .close-menu{
            display: block;
        }

        .close-menu{
            position: absolute;
            right: 0;
            top: 96px;
            z-index: 6;
        }
    }
}

.name{
    font-family: 'DM Serif Display';
    text-transform: lowercase;
    font-size: 56px;
    line-height: 0.75;

    a{
        color: #000;
        text-decoration: none;

        &:hover{
            color: rgba(0,0,0,0.6);
        }
    }
}

.name-small{
    display: none;
    font-size: 36px;
}

@media (max-width: 600px){
    .name{
        font-size: 44px;
    }

    .name-small{
        font-size: 28px;
    }
}

.footer{
    padding: 24px 0;
    text-align: right;

    b{
        font-family: 'DM Serif Text';
    }
}

.home-header.sticky{
    position: fixed;
    padding: 24px 0;

    .name{
        display: none;
    }

    .name-small{
        display: block;
    }
}