.photo-container{
    margin-top: 64px;
}

.photo-gutter{
    width: $gutter;
    height: 0;
}

.photo{
    width: calc(33.33% - #{$gutter * 2 / 3});
    margin-bottom: $gutter * 3 / 2;
    cursor: pointer;
    @include shadow-hover;

    img{
        width: 100%;
        display: block;
    }
    
}

@media(max-width: 1400px){
    .photo{
        width: calc(50% - #{$gutter / 2})
    }
}

@media(max-width: 640px){
    .photo{
        width: 100%;
        margin-bottom: 16px;
    }
}

.lightbox{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    cursor: pointer;

    img{
        width: unset;
        max-width: 90%;
        max-height: 90%;
        margin-left: 50%;
        margin-top: 50vh;
        transform: translate(-50%,-50%);
        cursor: default;
    }

    &.active{
        display: block;
    }

    .lightbox-close{
        position: absolute;
        top: 24px;
        right: 24px;
        font-size: 24px;
        color: #fff;
    }

    .caption{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        cursor: initial;
        transition: all 0.1s ease;

        .caption-inner{
            background-color: rgba(0,0,0,0.5);

            p{
                margin: 0;
                padding: 24px 0;
                line-height: 1.3;
            }

            .caption-date{
                color: rgba(255,255,255,0.4);
                font-weight: 700;
                margin-bottom: 4px;
                display: inline-block;
            }
        }

        .controls{
            height: 36px;
        }

        .controls > div{
            position: relative;
        }

        .close, .open{
            @include uppercase-style;
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
            color: rgba(255,255,255,0.8);

            &.hidden{
                display: none;
            }

            &:hover{
                color: #fff;
            }
        }
    }
}

