---
layout: default
---

<p class='blog-hero'><b>Blog:</b> snippets of my ideas, thoughts, and experiences. Coming soon</p>

<!--

<div class='blog-container'>
    <div class='blog-right'>
        <div class='post-gutter'></div>
        <div class='post-cat'>
            <h2>Latest Posts</h2>
            {% assign cat = "all" %}
            {% include post-cat-include.html %}
        </div>
        <div class='post-cat'>
            {% assign cat = "projects" %}
            <h2><a href='{{ site.baseurl }}/blog/{{ cat }}'>Projects</a></h2>
            <p>Ideas, updates, and behind-the-scenes for smaller or WIP projects that don't have their own case studies yet</p>
            {% assign maxcount = 3 %}
            {% include post-cat-include.html %}
        </div>
        <div class='post-cat'>
            {% assign cat = "musings" %}
            <h2><a href='{{ site.baseurl }}/blog/{{ cat }}'>Musings</a></h2>
            <p>The "miscellaneous" category: quick observations and personal experiences</p>
            {% include post-cat-include.html %}
        </div>
        <div class='post-cat'>
            {% assign cat = "books" %}
            <h2><a href='{{ site.baseurl }}/blog/{{ cat }}'>Books</a></h2>
            <p>Posts about books that strike me as especially beautiful, insightful, or otherwise interesting</p>
            {% include post-cat-include.html %}
        </div>
    </div>
    <div class='blog-left'>
        <div class='post-cat'>
            {% assign cat = "featured" %}
            <h2><a href='{{ site.baseurl }}/blog/{{ cat }}'>Featured</a></h2>
            {% assign maxcount = 5 %}
            {% include post-cat-include.html %}
        </div>
        <div class='post-cat'>
            <h2>All Categories</h2>
            <div class='tag-list'>
                {% for tag in site.tags %}
                <div class='tag-item'>
                    <a href='{{ site.baseurl }}/blog/{{ tag[0] }}'>#{{ tag[0] }} ({{ tag[1].size }})</a>
                </div>
                {% endfor %}
            </div>
            <h3><a href='{{ post.url }}'>{{ post.title }}</a></h3>
        </div>
        {% endfor %}
    </div>
</div>