---
layout: default
---

<div class='case-container'>
    {% if page.collection == 'film' %}
    {% assign cat = 'film' %}
    {% assign label = 'film' %}
    {% assign collection = site.film %}
    {% elsif page.collection == 'projects' %}
    {% assign cat = 'projects' %}
    {% assign label = 'design and building' %}
    {% assign collection = site.projects %}
    {% else %}
    {% assign cat = '(type not specified)' %}
    {% assign label = '(type not specified)' %}
    {% endif %}

    <div class='backhome'><a href='{{ site.baseurl }}/{{ cat }}'><i class="fas fa-arrow-left"></i> Back to {{ label }} projects</a></div>
    <div class='divider'></div>
    <h1>{{ page.name }}</h1>
    <p>{{ page.descript }}</p>
    {% if cat == 'film' %}
    {% include youtube-gen.html id=page.ytid %}
    <div class='divider'></div>
    <h2>Highlights</h2>
    {% for item in page.images %}
        {% assign temp = item | split: '.' %}
        {% if temp.last == 'mp4' %}
        <video autoplay loop muted>
            <source src='{{ site.baseurl }}/img/{{ cat }}/{{ page.id }}/{{ item }}' type='video/mp4'>
        </video>
        {% else %}
        <img src='{{ site.baseurl }}/img/{{ cat }}/{{ page.id }}/{{ item }}'>
        {% endif %}
    {% endfor %}
    {% endif %}
    {{ content }}
    {% if page.slider %}
    <script src='{{ site.baseurl }}/js/slider.js'></script>
    {% endif %}
    <div class='divider'></div>
    <h2>Other {{ label }} projects</h2>
    {% include portfolio-video.html data=collection %}
</div>