<!DOCTYPE html>
<html>
    <head>
        <meta
            content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, target-densityDpi=device-dpi'
            name='viewport' />
        <title>{{ site.title }}</title>
        <link href="https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i|DM+Serif+Display:400,400i|DM+Serif+Text:400,400i&display=swap"
            rel="stylesheet">
        <link rel='stylesheet' type='text/css' href='{{ site.baseurl }}/css/style.css'>
        <script src='{{ site.baseurl }}/js/jquery-3.4.1.min.js'></script>
        <script src='{{ site.baseurl }}/js/masonry.pkgd.min.js'></script>
        <script src='{{ site.baseurl }}/js/imagesloaded.pkgd.min.js'></script>
    </head>
    <body>
        {{ content }}
    </body>
</html>