<!DOCTYPE html>
<html>
    <head>
        <meta
            content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, target-densityDpi=device-dpi'
            name='viewport' />
        <title>
        {% if page.layout != "home" %}
        {% if page.layout == "tagpage" %}
        Blog Posts: #{{ page.tag }}
        {% else %}
        {{ page.title }}
        {% endif %}
         |
        {% endif %}
        {{ site.title }}
        </title>
        <link href="https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i|DM+Serif+Display:400,400i|Roboto+Mono|DM+Serif+Text:400,400i&display=swap"
            rel="stylesheet">
        <link rel='stylesheet' type='text/css' href='{{ site.baseurl }}/css/style.css'>
        <link rel='stylesheet' type='text/css' href='{{ site.baseurl }}/css/all.min.css'>
        <link rel='stylesheet' type='text/css' href='{{ site.baseurl }}/css/monokai.css'>

        <!-- favicon code from realfavicongenerator.net -->

        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">
        
        <script src='{{ site.baseurl }}/js/jquery-3.4.1.min.js'></script>
        <script src='{{ site.baseurl }}/js/masonry.pkgd.min.js'></script>
        <script src='{{ site.baseurl }}/js/imagesloaded.pkgd.min.js'></script>
        <script src='{{ site.baseurl }}/js/d3.v5.min.js'></script>
        <script src='{{ site.baseurl }}/js/d3-bboxCollide.min.js'></script>
        <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
            </script>

        <!-- Twitter cards -->
        <meta name="twitter:site" content="@wwsalmon">
        <meta name="twitter:creator" content="@wwsalmon">
        <meta name="twitter:title" content="{{ page.title }}">
        
        {% if page.content %}
        <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape
              | truncate: 200 }}">
        {% else %}
        <meta name="twitter:description" content="{{ site.description }}">
        {% endif %}
        
        <meta name="twitter:card" content="summary_large_image">
        
        {% if page.image %}
        <meta name="twitter:image:src" content="{{ site.url }}{{ page.image }}">
        {% endif %}
        <!-- end of Twitter cards -->
    </head>
    <body>
        {% include homeheader.html %}
        <div class='container'>
            {{ content }}
        </div>
        {% include footer.html %}
        {% if jekyll.environment == 'production' %}
        {% include ganalytics.html %}
        {% endif %}
    </body>
</html>