---
layout: default
---

<div class='about-container'>
    <div>
        <img src='{{ site.baseurl }}/img/about.jpg'>
    </div>
    <div>
        <p class='home-links'>
            <a target="_blank" href='{{ site.baseurl }}/assets/szhang-resume.pdf'>Resume</a>
            <a target="_blank"href='mailto:samsonzhang@wwsalmon.com'>Say Hi</i></a>
            <a target="_blank"href='https://www.youtube.com/channel/UCNyoJQcV6NCHiRCeqcCxJag'><i class="fab fa-youtube"></i></a>
            <a target="_blank"href='https://www.linkedin.com/in/samsonzhangthesalmon/'><i class="fab fa-linkedin-in"></i></a>
        </p>
        <div class='divider'></div>
        <p class='home-hero'>Hi, my name is Samson Zhang. I'm a senior at Phillips Academy. I love building things and telling stories.</p>
        <p>Things that I love and am fascinated by:</p>
        
        <svg></svg>
        
        <p class='thing-text'><i class="fas fa-mouse-pointer"></i> <b>Click a label</b> to learn more, or <i class="fas fa-angle-double-down"></i> <b>scroll down</b> to see my work.</p>
        
        <script src='{{ site.baseurl }}/js/homecloud.js'></script>
        <div class='divider'></div>
        
    </div>
    <div class=''></div>
</div>