---
layout: default
---

<div class='about-container'>
    <div>
        <img src='{{ site.baseurl }}/img/about.jpg'>
    </div>
    <div class='home-hero-section'>
        <div class='divider'></div>

        <p class='home-hero'>Hi, my name is Samson Zhang. I'm a senior at Phillips Academy. I love building things and telling stories.</p>
        <!-- {% include home-links.html %}
        <div class='divider small'></div> -->

        <p>Things that I love and am fascinated by:</p>
        
        <svg></svg>
        
        <p class='thing-text'><i class="fas fa-mouse-pointer"></i> <b>Click a label</b> to learn more, or <i class="fas fa-angle-double-down"></i> <b>scroll down</b> to see my work.</p>
        
        <script src='{{ site.baseurl }}/js/homecloud.js'></script>
        
    </div>
    <div class='work-experience'>
        <div class='work-item'>
            <div class='orgname'><span>The Phillipian</span></div>
            <div class='posname'><span>Executive Digital Editor</span></div>
            <div class='worktime'><span>January 2019 - January 2020</span></div>
            <p>The Phillipian is Phillips Academy's weekly, uncensored, student-run school paper, with a board of 80+ students. As Exec. Digital Editor, I serve as one of six Upper Management members, directly managing 20+ students of the digital board, including developers, designers, & videographers, & lead digital projects like SOTA, Plip Live, & more.</p>
        </div>
    </div>
    <div class='work-section'>
        {% include youtube-gen.html id='WplYyJehtOw' %}
    </div>
</div>