---
layout: default
---

<div class='post-container'>
    <div class='backhome'><a href='{{ site.baseurl }}/blog'><i class="fas fa-arrow-left"></i> All Blog Posts</a></div>

    <h1>{{ page.title }}</h1>
    <div class='categories'>
        {% for tag in page.tags %}
        {% include category-include.html %}
        {% endfor %}
    </div>
    
    <div class='date'><span>{{ page.date | date: "%B %-d, %Y" }}</span></div>

    <div class='readingtime'><span>{% assign words = content | strip_html | number_of_words %}{% include readingtime.html %}</span></div>
    
    {{ content }}

    <div id="hyvor-talk-view" class="margin-center width-700-important border-top pt-6 mt-6"></div>
    <script type="text/javascript">
        var HYVOR_TALK_WEBSITE = 1008; // DO NOT CHANGE THIS
        var HYVOR_TALK_CONFIG = {
            url: false,
            id: false
        };
    </script>
    <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
</div>